.box
  h3.hd 热门产品
  .bd
    ul.products_list
      each product in hotProducts
        li 
          p.title
            a(href="/products/#{product._id}", target="_blank")= product.title
          .content
            a(href="/products/#{product._id}", target="_blank")
              img.img(src="#{product.image}")
            div.info
              p= product.brand
              p.intro= product.slogan
              p
                strong 价格 : 
                | #{product.price}
            .cl