extend ../layout_website

block content
  .layout
    .lCol.lCol_website
      .product_image
        img(src="#{accessory.image}")
    .main
      - collection = "accessory", id = accessory._id

      .product_container

        .product_info
          h1 #{accessory.brand} #{accessory.title}
          p= accessory.price + " 元"
          if accessory.slogan
            p= accessory.slogan
          else
            p 产品热卖中，有意请咨询~
        .product_intro.restrict_container
          div!= accessory.introduce

      include ./_comments
      include ./_comment_form