extend ../layout_website

block content
  .layout
    .lCol.lCol_website
      include ./_say_hi
    .main
      - collection = "product", id = product._id

      .product_container

        .product_info
          img.r(src="#{product.image}", width="100", height="100")
          h1 #{product.brand} #{product.title}
          p= product.price + " 元"
          if product.slogan
            p= product.slogan
          else
            p 产品热卖中，有意请咨询~
        table.product_params
          - var i = 0;
          - for(var key in config.product){
            - if(key == 'price') continue;
            tr
              th #{config.product[key].key}
              td #{product[key]}
          - }
        .product_intro
          div!= product.introduce



      include ./_comments
      include ./_comment_form