extends ../layout_console

block content
  h1= title
  table.table_normal
    tr 
      th 内容
      th 回复
      th 用户
      th 邮箱
      th 时间
      th 操作
    - each comment in comments
      tr(data-id="#{comment._id}")
        td.comment= comment.content
        td.reply= comment.reply ? comment.reply : ""
        td.user= comment.user
        td= comment.email
        td= $.formatDate(comment.create_at, true)
        td
          a(class="edit_reply", href="javascript:void(0)")= comment.reply ? "修改回复" : "添加回复"

  div#edit_reply_box.hd
    p
      span#rely_user
      | 的评论：
      span#comment_quote
    input(id="input_reply", type="text")
    input(id="confirm_eidt_reply", type="button", value="提交")  

  script(type="text/javascript", src="/javascripts/popWin/popManager.js")
  script(type="text/javascript", src="/javascripts/popWin/popWin.js")
  script(type="text/javascript")
    $(function(){
      var btnShowReply = $('.edit_reply'),
          txtReply = $('#input_reply'),
          btnEditReply = $('#confirm_eidt_reply'),
          boxEditReply = $('#edit_reply_box'),
          elemUser = $('#rely_user'),
          elemComment = $('#comment_quote');
      //- var pop = $.popWin.init({
      //-   title:"回复"
      //- });

      //- pop.content.append(boxEditReply);

      btnShowReply.click(function(){
        var row = $(this).closest('tr')
        var comment = row.find('.comment').text(),
            reply = row.find('.reply').text(),
            user = row.find('.user').text();

        elemUser.text(user);
        elemComment.text(comment);
        txtReply.val(reply);
        btnEditReply.data("id", row.attr('data-id'));

        //pop.show();
        return false;
      });

      btnEditReply.click(function(){
        var txt = txtReply.val();
        if(txt === ''){
          alert('回复不能为空');
          return;
        }
        $.post('/comments/' + $(this).data('id') + '/update', {
          content:txtReply.val()
        }, function(){
          alert('发送成功');
        });
      });
    });
