extends ../layout_console

block content
  
  h1= is_new?"新建产品":"编辑产品"
  form.formA.console_form(action="/products/#{is_new?"new":product._id+"/edit"}", method="post", enctype="multipart/form-data")
    .layout
      .rCol         
        fieldset
          legend 选填信息
          .row
            label.key 宣传语
            input.text_input(type="text", name="slogan", value="#{$.blankStr(product.slogan)}")
          - p = config.product
          - for(var i in p){
            - item = p[i];
            .row
              label.key= item.key
              select(name="#{i}")
                each value in item.data
                  - console.log(value, product[i]);
                  if value == product[i]
                    option(value="#{value}", selected)= value
                  else
                    option(value="#{value}")= value
          - }
      .main
        fieldset
          legend 必填信息
          .row
            div
              - if(product.image){
                img.product_img(src="#{product.image}", alt="product image")
              - }else {
                div.product_img 请添加图片
              - }
            input(type="file", name="image")
          .row
            label.key 名称
            input#product_title.text_input(type="text", name="title", value="#{$.blankStr(product.title)}")
          .row
            label.key 价格
            input#product_price.text_input(type="text", name="price", value="#{$.blankStr(product.price)}")
          .row
            label.key 说明
            textarea#product_intro.text_input(name="introduce", rows="10", cols="35", value="#{$.blankStr(product.introduce)}")
          .hd
            input(type="hidden", name="mark_image", value="#{$.blankStr(product.image)}")
          .bottom
            input(type="submit", value="提交表单")

  script(type="text/javascript")
    seajs.use('$', function($){
      $(function(){
        var inputTitle = $('#product_title');
        var inputPrice = $('#product_price');
        var txtaIntro = $('#product_intro');

        $('form').submit(function(){
          var price = $.trim(inputPrice.val());
          if( price === '' || isNaN(Number(price)) ){
            alert('请填写价格。');
            return false;
          }
          if($.trim(inputTitle.val()) === ''){
            alert('请填写产品名称。');
            return false;
          }
          if($.trim(txtaIntro.val()) === ''){
            alert('请填写说明。');
            return false;
          }
        });
      });
    });

