extends ../layout_console

block content
  h1= is_new?"新建产品":"编辑产品"
  form.formA.console_form(action="/products/#{is_new?"new":product._id+"/edit"}", method="post", enctype="multipart/form-data")
    fieldset
      legend 必填信息
      .layout
        .rCol
          .row
            div
              - if(product.image){
                img.product_img(src="#{product.image}", alt="product image")
              - }else {
                div.product_img 请添加图片
              - }
            input(type="file", name="image")
        .main
          .row
            label.key 名称
            input.text_input(type="text", name="name", value="#{$.blankStr(product.name)}")
          .row
            label.key 厂商
            input.text_input(type="text", name="brand", value="#{$.blankStr(product.brand)}")
          .row
            label.key 说明
            textarea.text_input(name="introduce", rows="10", cols="35", value="#{$.blankStr(product.introduce)}")
          .hd
            input(type="hidden", name="mark_image", value="#{$.blankStr(product.image)}")
    fieldset
      legend 选填信息
      .row
        label.key 颜色
        input.text_input(type="text", name="color", value="#{$.blankStr(product.params.color)}")
      .bottom
        input(type="submit", value="提交表单")
