extends ../layout_console

block content
  h1
    a(href="/console/products") 产品列表 
    | - #{title}
  table.table_normal
    tr 
      th 内容
      th 回复
      th 用户
      th 邮箱
      th 时间
      th 操作
    - each comment in comments
      tr
        td= comment.content
        td= comment.reply ? comment.reply : "无"
        td= comment.user
        td= comment.email
        td= $.formatDate(comment.create_at, true)
        td
          a(href="#")= comment.reply ? "修改留言" : "添加留言"
