extends ../layout_console

block content
  h1= title
  table.table_normal
    tr 
      th 产品名称
      th 品牌
      th 操作
    - each product in products
      tr
        td= product.name
        td= product.brand
        td 
          a(href="/products/#{product._id}/edit") [ 编辑 ] 
          a(href="/products/#{product._id}/delete") [ 删除 ] 
          a(href="/console/comments?title=#{product.name}&id=#{product._id}") [ 查看评论 ]